# Human Resources and Candidate Search
by Xiang Ou

## Content:
### [Project Objective](#P)
### [Data Cleaning](#C)
### [Read Job Description](#J)
### [Read Job Resume](#R)
### [Match Score](#M)
### [Top 5 Candidates](#T)
### [Write a Interview CSV file](#W)
### [Summary](#S)
### [Recommendations](#Re)

### <span id="P">Project Objective</span>

Company A, as a Global Data Sciences team is responsible for developing and enhancing machine learning capabilities,  is looking for a data scientist with strong analytical, mathematical, and programming skills, and would like to accept various kinds of challenges in complex environments.  So far, HR department has received 15 resumes. As a data analyst, my task is to screen all the resumes in order to select five qualited candidates and pioritized them by how much they match for the job requirements. In addition, I need to create a csv file with five candiates information for interviewer to prepare the interviews.

# Make Library Ready

In [ ]:
import pandas as pd
from io import StringIO
import os
import csv

### <span id="C">Data Cleaning:</span>

Load csv, skip headers, filling up na

In [923]:

#read Candidates csv file.
Candidates = pd.read_csv("Candidates.csv", encoding="ISO-8859-1")
Candidates

                           Filetype:CSV     Unnamed: 1
0                    Time: Jan 29, 2021            NaN
1   Company A Data Scientist Canadiates            NaN
2                        Applicant Name      File Name
3                               Amy Lin        Amy.txt
4                            David Will      David.txt
5                             Diggy Mao      Diggy.txt
6                             Elisa Wei            NaN
7                          Grace Jordon      Grace.txt
8                              Henry Wu      Henry.txt
9                             Ivy Jones        Ivy.txt
10                        Josephine Ou   Josephine.txt
11                         Kristina Fan    Kristan.txt
12                           Larry Ding      Larry.txt
13                         Marcos Leung     Marcos.txt
14                         Michael Wang    Michael.txt
15                          Peter Leung            NaN
16                          Teresa Wang     Teresa.txt
17                             Terry Wu      Terry.txt

# Skip 3 hearders.

In [902]:
Candidates1 = pd.read_csv("Candidates.csv", encoding="ISO-8859-1",skiprows=3)
Candidates1

   Applicant Name      File Name
0         Amy Lin        Amy.txt
1      David Will      David.txt
2       Diggy Mao      Diggy.txt
3       Elisa Wei            NaN
4    Grace Jordon      Grace.txt
5        Henry Wu      Henry.txt
6       Ivy Jones        Ivy.txt
7   Josephine Ou   Josephine.txt
8    Kristina Fan    Kristan.txt
9      Larry Ding      Larry.txt
10   Marcos Leung     Marcos.txt
11   Michael Wang    Michael.txt
12    Peter Leung            NaN
13    Teresa Wang     Teresa.txt
14       Terry Wu      Terry.txt

Filling out Nan

In [924]:
Candidates1.iloc[3,[1]]=Candidates1.iloc[3,[1]].fillna('Elisa.txt')

Candidates1.iloc[12,[1]]=Candidates1.iloc[12,[1]].fillna('Peter.txt')
Candidates1

   Applicant Name      File Name
0         Amy Lin        Amy.txt
1      David Will      David.txt
2       Diggy Mao      Diggy.txt
3       Elisa Wei      Elisa.txt
4    Grace Jordon      Grace.txt
5        Henry Wu      Henry.txt
6       Ivy Jones        Ivy.txt
7   Josephine Ou   Josephine.txt
8    Kristina Fan    Kristan.txt
9      Larry Ding      Larry.txt
10   Marcos Leung     Marcos.txt
11   Michael Wang    Michael.txt
12    Peter Leung      Peter.txt
13    Teresa Wang     Teresa.txt
14       Terry Wu      Terry.txt

create a seires contains candidates' names

In [925]:
names=Candidates1.iloc[:,0]

create a seires contains resumes files name.

In [926]:
filenames=Candidates1.iloc[:,1]

### <span id="J">Read Job Description:</span>

In [927]:
Job = pd.read_csv("Jobdescripion .csv")
job=str(Job)
print(job)

                                        Job Summary:  \
0  Design, develop and implement advanced predict...
1  Collaborate with other data scientists and eng...
2  Being able to work with large volumes of data;...
3  Communicate complex concepts and the results o...
4                                                NaN
5                                                NaN
6                                                NaN
7                                                NaN

                                  Key Qualification:
0  Mastery of one of Python, Java, Scala, C++ or ...
1  Experience building data science or data analy...
2  Some experience with Docker, Kubernetes, or cl...
3  Experience with Relational databases and NoSQL...
4  Demonstrated understanding of the full softwar...
5  Excellent problem solving, critical thinking, ...
6  Solid grasp of computer science fundamentals i...
7   Self-motivated, proactive, and solution-oriented

create a string to contain seven keyskills.

In [928]:
keyskills=str(Job.iloc[:,1])

create a dictionary to contain seven keyskills.

In [929]:

skills={'0':Job.iloc[0,[1]],'1':Job.iloc[1,[1]], '2':Job.iloc[2,[1]], '3':Job.iloc[3,[1]], '4':Job.iloc[4,[1]],'5':Job.iloc[5,[1]],'6':Job.iloc[6,[1]], '7':Job.iloc[7,[1]]}
skills

{'0': Key Qualification:    Mastery of one of Python, Java, Scala, C++ or ...
 Name: 0, dtype: object,
 '1': Key Qualification:    Experience building data science or data analy...
 Name: 1, dtype: object,
 '2': Key Qualification:    Some experience with Docker, Kubernetes, or cl...
 Name: 2, dtype: object,
 '3': Key Qualification:    Experience with Relational databases and NoSQL...
 Name: 3, dtype: object,
 '4': Key Qualification:    Demonstrated understanding of the full softwar...
 Name: 4, dtype: object,
 '5': Key Qualification:    Excellent problem solving, critical thinking, ...
 Name: 5, dtype: object,
 '6': Key Qualification:    Solid grasp of computer science fundamentals i...
 Name: 6, dtype: object,
 '7': Key Qualification:    Self-motivated, proactive, and solution-oriented
 Name: 7, dtype: object}

### <span id="R">Read 15 Resumes:</span>

Loop through filenames from Candidates.csv open the 15 resumes.

In [930]:
import os

In [931]:
all_files=[]

for x in filenames:
    with open(x,'r') as f:
         file=f.readlines()
    all_files.append(file)

convert the filetype to string.

In [932]:
all_filesnew=[]
#j=0
for j in all_files:
    
    new=''.join(j)
    all_filesnew.append(new)

Pair each resume with job description for comparasion.

In [933]:
compare=[]
i=0
for k in all_filesnew:
    for i in range(15):
        i +=1
    
    data=[k, job]
    compare.append(data)

### <span id="M">Match Score:</span>

Cacluate the similarity for each applicants with job description.

In [934]:
from sklearn. feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
match=[]
for y in compare:
    cv=CountVectorizer()
    count_matrix=cv.fit_transform(y)
    print(cosine_similarity(count_matrix))
    matchPercentage=cosine_similarity(count_matrix)[0][1]*100
    matchPercentage=round(matchPercentage,2)
    print("match"+str(matchPercentage)+ "% of the job description.")
    match.append(matchPercentage)

[[1.         0.50293354]
 [0.50293354 1.        ]]
match50.29% of the job description.
[[1.         0.47766557]
 [0.47766557 1.        ]]
match47.77% of the job description.
[[1.         0.51812235]
 [0.51812235 1.        ]]
match51.81% of the job description.
[[1.        0.5964518]
 [0.5964518 1.       ]]
match59.65% of the job description.
[[1.         0.46671077]
 [0.46671077 1.        ]]
match46.67% of the job description.
[[1.         0.55573205]
 [0.55573205 1.        ]]
match55.57% of the job description.
[[1.         0.42060945]
 [0.42060945 1.        ]]
match42.06% of the job description.
[[1.         0.52506964]
 [0.52506964 1.        ]]
match52.51% of the job description.
[[1.         0.55457356]
 [0.55457356 1.        ]]
match55.46% of the job description.
[[1.         0.48782504]
 [0.48782504 1.        ]]
match48.78% of the job description.
[[1.         0.53180121]
 [0.53180121 1.        ]]
match53.18% of the job description.
[[1.         0.58226333]
 [0.58226333 1.        ]]
match58.23% of the job description.
[[1.         0.42206457]
 [0.42206457 1.        ]]
match42.21% of the job description.
[[1.         0.46720255]
 [0.46720255 1.        ]]
match46.72% of the job description.
[[1.         0.40755717]
 [0.40755717 1.        ]]
match40.76% of the job description.

Create a table to list applicants and their match score.

In [935]:
df={'Names':names,'Match':match}
df1=pd.DataFrame(df)
df1

            Names  Match
0         Amy Lin  50.29
1      David Will  47.77
2       Diggy Mao  51.81
3       Elisa Wei  59.65
4    Grace Jordon  46.67
5        Henry Wu  55.57
6       Ivy Jones  42.06
7   Josephine Ou   52.51
8    Kristina Fan  55.46
9      Larry Ding  48.78
10   Marcos Leung  53.18
11   Michael Wang  58.23
12    Peter Leung  42.21
13    Teresa Wang  46.72
14       Terry Wu  40.76

### <span id="T">Top 5 Candiates for Interview:</span>

Select the top 5 match most, and sort the match score by descending sequence.

In [936]:
df1.nlargest(5,"Match")

           Names  Match
3      Elisa Wei  59.65
11  Michael Wang  58.23
5       Henry Wu  55.57
8   Kristina Fan  55.46
10  Marcos Leung  53.18

Create a function, using python set to find out the Five top applicants who match with the Seven keyskills.

In [937]:
def match_keyskills (data1, data2):
    pair=data1 & data2.keys()
    pairlist=list(pair)
    pairlist.sort(reverse=False)
    
    print(pairlist)

In [938]:
match_keyskills(all_filesnew[3], skills)
match_keyskills(all_filesnew[11], skills)
match_keyskills(all_filesnew[5], skills)
match_keyskills(all_filesnew[8], skills)
match_keyskills(all_filesnew[10], skills)

['0', '1', '2', '3', '4', '5', '6', '7']
['0', '1', '2', '3', '4', '5', '6']
['0', '1', '2', '3', '4', '5', '6', '7']
['0', '1', '2', '3', '4', '5', '7']
['0', '1', '2', '3', '4', '5', '6', '7']

### <span id="W">Write to a csv file, call ToInterview.csv:</span>

In [940]:
import csv
with open('ToInterview.csv','w',newline='') as file:
    writer=csv.writer(file)
    writer.writerow(['Piority','Names','Match Score','Match Keyskills'])
    writer.writerow([1,"Elisa Wei","59.65","'0', '1', '2', '3', '4', '5', '6', '7'"])
    writer.writerow([2,"Michael Wang","58.23","'0', '1', '2', '3', '4', '5', '6'"])
    writer.writerow([3,"Henry Wu","55.57","'0', '1', '2', '3', '4', '5', '6', '7'"])
    writer.writerow([4,"Kristina Fan","55.46","'0', '1', '2', '3', '4', '5', '7'"])
    writer.writerow([5,"Marcos Leung","53.18","'0', '1', '2', '3', '4', '5', '6', '7'"])
    
    writer.writerow([10,"Seven Key skills"])
    writer.writerow([11,"0.Mastery of one of Python, Java, Scala, C++ or equivalent language"])
    writer.writerow([12,"1.Experience building data science or data analysis tools on Hadoop/cloud based systems"])
    writer.writerow([13,"2.Some experience with Docker, Kubernetes, or cloud platform deployment"])
   
    writer.writerow([14,"3.Experience with Relational databases and NoSQL databases"])
    writer.writerow([15,"4.Demonstrated understanding of the full software development lifecycle"])
    
    writer.writerow([16,"5.Excellent problem solving, critical thinking, and communication skills"])
    writer.writerow([17,"6.Solid grasp of computer science fundamentals including data structures and algorithms"])
    writer.writerow([18,"7.Self-motivated, proactive, and solution-oriented"])

In [ ]:
ToInterview.csv

### <span id="S">Summary:</span>

The steps to select Five candiates for interview:

1.Looping through Candiates.csv to read the 15 resumes.
2.Using Python sklearn feature CountVectorizer to caculate similarity between applicants and job descrption, filltered        out Candiates are less qualitfied, and remained five qualified applicants, sorted by match score. 
3.Using Python set to compare five candiates with seven keyskills to find out the five candiates having what keyskills.
4.Write a CSV file called Tointerview.csv to list five candidates , their match score, piority to inteview, and what     keyskills they qualified.

### <span id="Re">Recommendation:</span>

The Toinerview.csv file is a good referance for interviewers to pre-understand the five candidates and prepare the interview quesitons.